* {
    font-family: Charm;
}

#UwuLink{
    padding-top: 3vh;
    font-size: 4.5vh;
    padding-left: 1vw;
    align-items: center;
}

#UwuLink li{

    list-style: none;
    border-radius: 100px;
    border: solid;
    color:white;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
} 

#UwuLink li a{
    text-decoration: none;
    color: azure;
    transition: 0.3 ease-in-out;
}

#UwuLink :hover,
#UwuLink .active{
    color: black;
    background: #17cf97;
}



.left_page{
    height: 100vh;
    
}

.fixposition{
    position: fixed;
    left:3.75vw;
    padding-top: 15vh;
}


#overlay{
    position: fixed;
    top : 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

#show-modal-btn{
    background: transparent;
    padding-left: 50px;
    padding-right: 50px;
    color:azure;
    border: none;
    border-radius: 100px;
} 

#modal{
    max-width: 1500px;
    max-height: 800px;
    margin: auto;
    background-color: azure;
    position:absolute;
    top : 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.website-content{
    height: 1000vh;
}

#close-modal-btn{
    position: absolute;
    font-size: 80px;
    top:0;
    margin-right: 40px;
    right: 0;
    background: transparent;
    border: none;
}