* {
    font-family: Charm;
}

#UwuLink{
    padding-top: 3vh;
    font-size: 4.5vh;
    padding-left: 1vw;
    align-items: center;
}

#UwuLink li{

    list-style: none;
    border-radius: 100px;
    border: solid;
    color:white;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

#UwuLink li a{
    text-decoration: none;
    color: azure;
    transition: 0.3 ease-in-out;
}

#UwuLink :hover,
#UwuLink .active{
    color: black;
    background: #17cf97;
}



.left_page{
    height: 100vh;
    
}

.fixposition{
    position: fixed;
    left:3.75vw;
    padding-top: 15vh;
}


#overlay{
    position: fixed;
    top : 3vh;
}

#show-modal-btn{
    position: fixed;
    font-size: 30px;
    font-size: 4.5vh;
    padding-left: 1vw;
    align-items: center;
    bottom: 5px;
    left: 4.5vw;
    border-radius: 100px;
    border: solid;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    width: 37vw;
    background: transparent;
    color: azure;
}

#show-modal-btn:hover{
    background: #17cf97;
    color: black;
}