* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 

}

.form1 {
    padding-top:1vh;
    font-size: 3rem;
    line-height: 1.2;
    display: grid;
    grid-template-columns: 30px auto;
    gap: 0.5em;
    margin-bottom: 10px;
}

html {
    font-family: Charm;
}

form {
    width: 450px;
    margin-bottom: 10px;
    font-size: 3vh;
    
}

fieldset {
    font-family: 'Montserrat', sans-serif;
    border: 6px solid rgb(97, 91, 94);
    padding-left: 60px;
    padding-bottom: 0px;
    margin-left: 10px;
    margin-top: 0px;
    border-radius: 70px;
    background-color: white;
    opacity: 0.7;
}

.btn-lg{
    padding: 1rem 4rem;
    font-size: 3.5rem;
    margin-bottom: 10px;
    margin-top: 5px;
  }

.btn {
    justify-content: center;
}
#UwuLink li a{
    text-decoration: none;
    color: azure;
    transition: 0.3 ease-in-out;
}

