* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 

}

.form1 {
    padding-top:1vh;
    font-size: 3rem;
    /* font-weight: bold; */
    line-height: 1.2;
    display: grid;
    grid-template-columns: 30px auto;
    gap: 0.5em;
    margin-bottom: 10px;
}

html {
    font-family: Charm;
}

form {
    width: 450px;
    margin-bottom: 10px;
    font-size: 3vh;
    
}

fieldset {
    font-family: 'Montserrat', sans-serif;
    /* background: rgb(17, 218, 207); */
    border: 6px solid rgb(228, 10, 144);
    padding-left: 60px;
    padding-bottom: 0px;
    margin-left: 10px;
    margin-top: 0px;
    /* margin-bottom: 10px; */
    border-radius: 70px;
    background-color: white;
    
}

.btn-lg{
    padding: 1rem 4rem;
    font-size: 3.5rem;
    margin-bottom: 10px;
    margin-top: 5px;
  }

.btn {
    justify-content: center;
}

